/**
 * Project - Section
 */

.section {
  &__inner {
    &.has-background {
      position: relative;

      &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 15vw;
        background: url("./assets/curve.svg") no-repeat center center / cover scroll;
      }

      &::before {
        top: -7.5vw;
      }

      &::after {
        bottom: -7.5vw;
      }
    }
  }
  
  &__container {
    @extend %__containerLg;
  }
  
  &__heading {
    display: block;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: $h2FontSize;
    line-height: 1.25;

    &::after {
      content: attr(id);
      display: block;
      font-weight: 700;
      font-size: $h6FontSize;
      line-height: 2;
      text-transform: uppercase;
    }
  }
}

.about {
  &__image {
    position: relative;
    overflow: auto;

    &::after {
      content: url("./assets/figure_03.svg");
      position: absolute;
      top: -1.5rem;
      right: -0.75rem;
      width: 7.5rem;
    }
  }
}

.products {
  &__image {
    position: relative;
    overflow: auto;

    &.--num_1::after {
      content: url("./assets/figure_04.svg");
      position: absolute;
      top: -1.5rem;
      left: -0.75rem;
      width: 4.5rem;
    }

    &.--num_2::after {
      content: url("./assets/figure_01.svg");
      position: absolute;
      top: -1.5rem;
      right: -0.75rem;
      width: 4.5rem;
    }

    &.--num_3::after {
      content: url("./assets/figure_05.svg");
      position: absolute;
      top: -1.5rem;
      left: -0.75rem;
      width: 4.5rem;
    }
  }
}
