/**
 * Project - Section
 */

.section {
  &__inner {
    background-color: $bodyBg;
  }
  
  &__container {
    @extend %__containerLg;
  }
  
  &__heading {
    display: block;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: $h2FontSize;
    line-height: 1.25;

    &::after {
      content: attr(id);
      display: block;
      font-weight: 700;
      font-size: $h6FontSize;
      line-height: 2;
      text-transform: uppercase;
    }

  }
}
