/**
 * Slider
 */

// Settings
$sliderAspectRatio:    5 / 8 !default;
$sliderHeights:        (
  sm:                    12rem,
  md:                    18rem,
  lg:                    24rem
) !default;

.slider {
  position: relative;
  width: 100%;
  height: min(calc(100vmin * #{$sliderAspectRatio}), 27rem);
  overflow: hidden;

  @media (min-width: breakpoint("lg")) {
    @each $key, $height in $sliderHeights {
      &.--#{$key} {
        height: $height;
      }
    }
  }
  
  // .slider直下にギャラリー(style:Slider Items)を設置して使用する
  .is-style-slider-items {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(0);

    .wp-block-image {
      position: relative;
      flex: 0 1 auto;
      order: 0;
      margin: 0;
      opacity: 1;
      transition: opacity 0.15s linear;
      
      &:not(.--current) {
        opacity: .5;
      }

      &.--current { 
        &::before {
          content: url("./assets/figure_00.svg");
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          z-index: 1;
          width: clamp(5rem, 10vw, 7.5rem);
        }

        &::after {
          content: url("./assets/figure_01.svg");
          position: absolute;
          right: 1.5rem;
          bottom: 0;
          z-index: 1;
          width: clamp(3rem, 6vw, 4.5rem);
        }

        figcaption::after {
          content: url("./assets/figure_02.svg");
          position: absolute;
          left: 0.375rem;
          bottom: 0;
          z-index: 1;
          width: clamp(5rem, 10vw, 7.5rem);
        }
      }

      img {
        mask-image: url("./assets/mask_00.svg");
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        mask-size: contain;
        width: min(100vmin, calc(27rem / #{$sliderAspectRatio}));
        aspect-ratio: 1 / $sliderAspectRatio;
        object-fit: contain;
        margin: 0;

        &:where(.wp-block-image:nth-of-type(even) *) {
          mask-image: url("./assets/mask_01.svg");
        }
  
        @media (min-width: breakpoint("lg")) {
          @each $key, $height in $sliderHeights {
            @at-root .slider.--#{$key} .slider__item img {
              width: auto;
              height: $height;
            }
          }
        }
      }

      .wp-element-caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0;
        padding-left: 0.75rem;
        color: themeColor("darkest");
        text-align: left;
        line-height: 1.8;
        text-shadow: 0 0 3px white;

        h3 {
          display: inline-block;
          margin: space(2) 0;
          padding-bottom: space(1);
          font-size: $h4FontSize;

          @media (min-width: breakpoint("md")) {
            margin-top: space(3);
            font-size: $h3FontSize;
          }
        }

        p {
          font-size: $h6FontSize;

          @media (min-width: breakpoint("md")) {
            font-size: $h5FontSize;
          }
        }

        a {
          &::after {
            content: "";
            position: absolute;
            width: 7.5rem;
            height: 1.875rem;
            margin: space(2) 0 0 space(3);
            background: url(./assets/readmore.svg) no-repeat center center;
            opacity: 1;

            @media (min-width: breakpoint("md")) {
              width: 9rem;
              height: 2.25rem;
            }
          }

          &:hover::after {
            opacity: 0.85;
          }
        }
      }

      &:nth-of-type(4n+3) {
        .wp-element-caption {
          text-shadow: 3px 3px 6px white, -3px -3px 6px white;
        }
      }
    }
  }

  &__prev, &__next {
    display: none;

    @media (min-width: breakpoint("lg")) {
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      height: 4.5rem; // アイコンのサイズ
      margin: auto;
      border: 0;
      background-color: transparent;
      color: themeColor("primaryLight");
      text-align: center;
      
      &:hover {
        color: themeColor("primary");
      }
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
  
  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: space(3) auto;
    padding: 0;
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: space(2);
    border-radius: 50%;
    background-color: themeColor("primary");
    cursor: pointer;

    &:not(.--current) {
      background-color: themeColor("primaryLight");
    }
  }
}
