/**
 * Layout - Header
 */

$headerHeight: 6rem;

:target {
  scroll-margin-top: $headerHeight;
}

.header {
  height: $headerHeight;

  &__inner {
    height: 100%;
    background-color: $bodyBg;
  }

  &__container {
    @include container();
    height: 100%;
  }
}
